:root{
    /* PRIMARY */
    --soft-orange : hsl(35,77%,62%);
    --soft-red:hsl(5, 85%, 63%);
    /* NEUTRAL */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue:hsl(233, 8%, 79%);
    --dark-grayish-blue:hsl(236, 13%, 42%);
    --very-dark-blue:hsl(240, 100%, 5%);
}
@font-face {
    font-family: "Inter";
    src: url("./../fonts/Inter-VariableFont_slnt\,wght.ttf");
}
*{
    font-family: "Inter";
    margin: 0;
    box-sizing: content-box;
}
.desktop{
    display: none;
}
body{
    padding: 0 1rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 1rem; */
    height: 70px;
}
#main{
    margin-bottom: 2rem;
}
h1{
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 95%;
    margin: 1rem 0;
}
p{
    font-size: 15px;
}
img{
    width: 100%;
}
.hero{
    width: 100%;
}
h2{
    color: var(--soft-orange);
}
button{
    background-color: var(--soft-red);
    border: none;
    color: white;
    padding: 0.8rem 2rem;
    margin: 1rem 0;
    letter-spacing: 4px;
}
#news{
    background-color: var(--very-dark-blue);
    color: white;
    padding: 1.6rem 1rem;
    margin-bottom: 3rem;
    & .title{
        margin: 1rem 0;
        border-bottom: .1rem solid white;
        & p{
            margin: 1rem 0;
        }
    }
}
#news > div:nth-child(4){
    border: none;
}
article{
    display: flex;
    gap: 1rem;
}
.article-image{
    max-width: 100px;
}
.article-number{
    color: var(--grayish-blue);
    font-size: 2rem;
    font-weight: 700;
}
h4{
    padding: 0.5rem 0;
    font-weight: 700;
}
@media (min-width: 800px) {
    body{
        .desktop{
            display: block;
        }
        .mobile{
            display: none;
        }
    }
    nav ul{
        display: flex !important;
        list-style-type: none;
        gap: 1.5rem;
    }
    main{
        display: grid;
        grid-template-columns: 8fr 2fr;
        gap: 2rem;
    }
    #articles{
        grid-column: 1/3;
        display: flex;
    }
}